Repository viplove29/nba_viva_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spotless, scenarios, dry run

Path conditions:
  spotless: any of: **/*.java
  scenarios: any of: **/*.feature
  dry run: any of: **/*StepDefinitions.java, **/*.feature

report portal native reruns
  .gitlab-ci.yml
Due: none

initial commit, ran spotless
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

ran spotless
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

updated structure for sync tag for 289
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

TC97 Business Unit columns appear together in the proper order
  src/test/java/serenitybase/pages/mar/WebReportPage.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
Due: spotless, scenarios, dry run

Resolved merge conflicts, reverted second attempt message
  .gitlab-ci.yml
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

run tests with the play button next to the scenario
  .run/Template Cucumber Java.run.xml
Due: none

removed debug tag
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

TC288 active clients filters option functions properly
  src/test/java/serenitybase/pages/mar/WebReportPage.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

TC 3 Balance Sheet_Check Columns spelling and Show/Hide columns option
  src/test/java/serenitybase/pages/mar/BalanceSheetPage.java
  src/test/java/serenitybase/steps/stepdefinitions/BalanceSheetStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/BalanceSheetTestSteps.java
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

Change parallel to 2 to prevent regression reruns
  .gitlab-ci.yml
Due: none

Update serenity.conf and login.
  src/test/java/serenitybase/helpers/Configuration.java
  src/test/java/serenitybase/steps/stepdefinitions/LoginToMarStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

Update WebReportPage and MarHomePage
  src/test/java/serenitybase/pages/mar/BasePage.java
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/pages/mar/WebReportPage.java
Due: spotless

US99247 Create new Date Range filter. Change AgencyAdmin credential. Create...
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

TC-522, TC-523, TC-524, TC-525, TC-526 Verify Customer/Policy Extract report...
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/pages/mar/WebReportPage.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/customerPolicyExtract/CustomerPolicyExtract.feature
Due: spotless, scenarios, dry run

TC536 US99341 verify updated general ledger modal
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/GeneralLedgerStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/GeneralLedgerTestSteps.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
Due: spotless, scenarios, dry run

Add TC-531: Policy Personnel Extract tab check columns spelling and Show/Hide...
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: spotless, scenarios, dry run

US99343: TC-537 - Verify Range of Accounts option from Account Numbers/Sub-ledgers section
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/GeneralLedgerStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/GeneralLedgerTestSteps.java
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

US97139: TC-532 - Customer Personnel Extract tab check columns spelling
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: scenarios, dry run

US99344: TC-539 - Verify Specific Account Number new filters
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

US97139: TC-533 - "Personnel Extract" report export to Excel file
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: scenarios, dry run

US97139: TC-530, TC-534 - "Personnel Extract" report Filters option functions properly
  src/test/java/serenitybase/pages/mar/WebReportPage.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: spotless, scenarios, dry run

Update MDC password and agency
  src/test/resources/serenity.conf
Due: none

Increase Parallel Count
  .gitlab-ci.yml
  src/test/resources/serenity.conf
Due: none

Update to Cucumber expressions
  src/test/java/serenitybase/steps/stepdefinitions/GeneralLedgerStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/LoginToMarStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
Due: spotless, dry run

initial commit
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/steps/stepdefinitions/TransactionStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/TransactionTestSteps.java
  src/test/resources/features/reports/transaction/Transaction.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/steps/stepdefinitions/TransactionStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/TransactionTestSteps.java
Due: spotless, dry run

initial commit
  src/test/java/serenitybase/steps/stepdefinitions/TransactionStepDefinitions.java
  src/test/resources/features/reports/transaction/Transaction.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/resources/features/reports/transaction/Transaction.feature
Due: scenarios, dry run

initial commit
  src/test/java/serenitybase/steps/stepdefinitions/TransactionStepDefinitions.java
Due: spotless, dry run

initial commit
  src/test/java/serenitybase/pages/mar/BasePage.java
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/pages/mar/WebReportPage.java
  src/test/java/serenitybase/steps/stepdefinitions/TransactionStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/TransactionTestSteps.java
  src/test/resources/features/reports/transaction/Transaction.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/steps/teststeps/TransactionTestSteps.java
Due: spotless

initial commit
  src/test/java/serenitybase/pages/mar/BasePage.java
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/pages/mar/WebReportPage.java
  src/test/java/serenitybase/steps/teststeps/TransactionTestSteps.java
Due: spotless

initial commit
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/mar/ReportTemplatePage.java
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/pages/mar/WebReportPage.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
Due: spotless

initial commit
  src/test/java/serenitybase/pages/mar/ReportTemplatePage.java
Due: spotless
