Repository viplove29/nba_viva_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spotless, scenarios, dry run

spotless:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew spotlessJavaCheck
  - ./gradlew compileTestJava

scenarios:
  stage: project checks
  image: mcr.microsoft.com/powershell
  before_script:
  - apt-get update && apt-get install -y git
  - mkdir scripts
  - git clone "$SCRIPTS_REPO" "./scripts"
  script:
  - 'pwsh -C "
  
    Install-Module powershell-yaml -Force;
  
    Import-Module ./scripts/TestScenarios.psm1;
  
    Test-SyncTags;
  ...

dry run:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew test --tests TestSupport -Dcucumber.execution.dry-run=true
  cache:
    paths:
    - build/

Update password
  src/test/resources/serenity.conf
Due: none

Fix for wrong report type
  src/test/java/serenitybase/steps/stepdefinitions/ExportOptionsStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ExportOptionsTestSteps.java
Due: spotless, dry run

Update mdc password
  src/test/resources/serenity.conf
Due: none

Login failure workaround
  src/test/java/serenitybase/pages/mar/AgencySelectionPage.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
Due: spotless

Quick fix TC574
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: spotless, scenarios, dry run

Quick fix TC524
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
Due: spotless

Parallel tags pipeline
  .gitlab-ci.yml
  src/test/resources/features/reports/DownloadDetail/DownloadDetail.feature
Due: scenarios, dry run

Scenario Tag Readme
  README.md
  images/Readme_scenario_tag1.JPG
  images/Readme_scenario_tag2.JPG
  images/Readme_scenario_tag3.JPG
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
Due: scenarios, dry run

Quick fix readme
  .gitlab-ci.yml
  README.md
Due: none

Quick fix TC350
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/HomePageTestSteps.java
  src/test/resources/features/reports/RelationshipRevenue/RelationshipRevenue.feature
Due: spotless, scenarios, dry run

Updating passwords for QA and MDC logins
  src/test/resources/serenity.conf
Due: none

TC292 quick fix
  src/test/java/serenitybase/pages/mar/SharedReportPage.java
Due: spotless

TC337 quick fix also works for zoomout
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/mar/SharedReportPage.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
Due: spotless, dry run

TC288 quickfix
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

TC152 TC97 quickfix
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

TC289 actions lazyload fix
  src/test/java/serenitybase/pages/mar/MarHomePage.java
Due: spotless

TC90 quick fix
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

TC301 TC311 add summary wait until data loads
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
Due: spotless

MAR updated passwords
  src/test/resources/serenity.conf
Due: none

fix TC590
  src/test/resources/features/reports/BookOfBusiness/BookOfBusiness.feature
Due: scenarios, dry run

TC371 fix chrome driver issue
  build.gradle
Due: none

initial commit
  src/test/java/serenitybase/pages/mar/ActivityListPage.java
  src/test/java/serenitybase/steps/stepdefinitions/ActivityListStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ActivityTestSteps.java
  src/test/resources/features/reports/ActivityList/ActivityList.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/java/serenitybase/steps/stepdefinitions/ActivityListStepDefinitions.java
Due: spotless, dry run

update QA and MDC passwords
  src/test/resources/serenity.conf
Due: none

test nba
  src/test/java/serenitybase/pages/vsso/LoginPage.java
  src/test/java/serenitybase/runners/TestSmoke.java
  src/test/java/serenitybase/steps/stepdefinitions/LoginToMarStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
  src/test/resources/features/reports/nbaHomepage/NBAHomePage.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

test nba
  src/test/java/serenitybase/pages/vsso/LoginPage.java
  src/test/java/serenitybase/steps/stepdefinitions/LoginToMarStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
  src/test/resources/features/reports/nbaHomepage/NBAHomePage.feature
Due: spotless, scenarios, dry run

test nba
  src/test/java/serenitybase/pages/vsso/LoginPage.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
Due: spotless

test nba
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
Due: spotless

Update README.md
  README.md
Due: none

test nba
  src/test/java/serenitybase/pages/vsso/LoginPage.java
Due: spotless

test nba
  src/test/java/serenitybase/pages/vsso/LoginPage.java
  src/test/java/serenitybase/runners/TestSmoke.java
  src/test/java/serenitybase/steps/stepdefinitions/LoginToMarStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
  src/test/resources/features/reports/nbaHomepage/NBAHomePage.feature
Due: spotless, scenarios, dry run

test nba
  src/test/java/serenitybase/helpers/Configuration.java
  src/test/java/serenitybase/pages/vsso/NbaHomePage.java
  src/test/java/serenitybase/runners/TestSmoke.java
  src/test/java/serenitybase/steps/stepdefinitions/nbaHomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/NbaTestSteps.java
  src/test/resources/features/reports/nbaHomepage/NBAHomePage.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

test nba
  src/test/java/serenitybase/pages/vsso/NbaHomePage.java
  src/test/resources/features/reports/nbaHomepage/NBAHomePage.feature
Due: spotless, scenarios, dry run

test nba
  src/test/java/serenitybase/pages/vsso/NbaHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/nbaHomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/NbaTestSteps.java
  src/test/resources/features/reports/nbaHomepage/NBAHomePage.feature
Due: spotless, scenarios, dry run

test nba
  src/test/java/serenitybase/pages/vsso/NbaHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/nbaHomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/NbaTestSteps.java
  src/test/resources/features/reports/nbaHomepage/NBAHomePage.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

Path conditions:
  spotless: any of: **/*.java
  scenarios: any of: **/*.feature
  dry run: any of: **/*StepDefinitions.java, **/*.feature
