Repository viplove29/nba_viva_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spotless, scenarios, dry run

Path conditions:
  spotless: any of: **/*.java
  scenarios: any of: **/*.feature
  dry run: any of: **/*StepDefinitions.java, **/*.feature

initial commit
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/mar/ReportTemplatePage.java
  src/test/java/serenitybase/pages/mar/TransactionPage.java
Due: spotless

initial commit
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/pages/mar/MarHomePage.java
Due: spotless

initial commit
  src/test/java/serenitybase/helpers/Utilities.java
Due: spotless

initial commit
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/mar/ReportTemplatePage.java
Due: spotless

US107328 TC-364 automation MAR unbilled policies filters option functions properly
  src/test/java/serenitybase/pages/mar/UnbilledPoliciesPage.java
  src/test/java/serenitybase/steps/stepdefinitions/UnbilledPoliciesStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/UnbilledPoliciesTestSteps.java
  src/test/resources/features/reports/UnbilledPolicies/UnbilledPolicies.feature
Due: spotless, scenarios, dry run

Wait for Loading Spinners TC-525
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/steps/stepdefinitions/LoginToMarStepDefinitions.java
Due: spotless, dry run

Wait for Spinners on Report Page TC-289
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

Wait for Dropdown TC-539
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/ReportTemplateStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/HomePageTestSteps.java
  src/test/java/serenitybase/steps/teststeps/ReportTemplateTestSteps.java
Due: spotless, dry run

Automation tc 364 mar unbilled policies
  src/test/java/serenitybase/pages/mar/BrokerAgedAccountsReceivablePage.java
  src/test/java/serenitybase/steps/stepdefinitions/BrokerAgedAccountsReceivableStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/UnbilledPoliciesStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/BrokerAgedAccountsReceivableTestSteps.java
  src/test/java/serenitybase/steps/teststeps/UnbilledPoliciesTestSteps.java
  src/test/resources/features/reports/BrokerAgedAccountsReceivable/BrokerAgedAccountsReceivable.feature
  src/test/resources/features/reports/UnbilledPolicies/UnbilledPolicies.feature
Due: spotless, scenarios, dry run

Refactor out common steps TC-359 TC-364
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/mar/SharedReportPage.java
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/pages/mar/UnbilledPoliciesPage.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/TransactionStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/HomePageTestSteps.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/java/serenitybase/steps/teststeps/TransactionTestSteps.java
  src/test/resources/features/reports/transaction/Transaction.feature
Due: spotless, scenarios, dry run

US107323 Automation TC-282 MAR Subsidiary Aged Ledger Filters option functions properly
  src/test/java/serenitybase/pages/mar/SharedReportPage.java
  src/test/java/serenitybase/steps/stepdefinitions/UnbilledPoliciesStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/java/serenitybase/steps/teststeps/UnbilledPoliciesTestSteps.java
  src/test/resources/features/reports/SubsidiaryAgedLedger/SubsidiaryAgedLedger.feature
Due: spotless, scenarios, dry run

Polymorphism of Report Page TC-359
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/mar/SharedReportPage.java
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/TransactionStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/UnbilledPoliciesStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/java/serenitybase/steps/teststeps/TransactionTestSteps.java
  src/test/resources/features/reports/transaction/Transaction.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/resources/features/reports/RelationshipRevenue/RelationshipRevenue.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/NewBusiness/NewBusiness.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/Cancellation/Cancellation.feature
Due: scenarios, dry run

US107326_Automation_TC-359_Transaction_Filters_option_functions_properly
  src/test/java/serenitybase/pages/mar/TransactionPage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
Due: spotless, dry run

Continued refactoring of reports
  src/test/java/serenitybase/pages/mar/BalanceSheetPage.java
  src/test/java/serenitybase/pages/mar/BrokerAgedAccountsReceivablePage.java
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/mar/SharedReportPage.java
  src/test/java/serenitybase/pages/mar/UnbilledPoliciesPage.java
  src/test/java/serenitybase/steps/stepdefinitions/BalanceSheetStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/BrokerAgedAccountsReceivableStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/UnbilledPoliciesStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/BalanceSheetTestSteps.java
  src/test/java/serenitybase/steps/teststeps/BrokerAgedAccountsReceivableTestSteps.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/java/serenitybase/steps/teststeps/UnbilledPoliciesTestSteps.java
  src/test/resources/features/reports/BrokerAgedAccountsReceivable/BrokerAgedAccountsReceivable.feature
  src/test/resources/features/reports/Cancellation/Cancellation.feature
  src/test/resources/features/reports/NewBusiness/NewBusiness.feature
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
  src/test/resources/features/reports/RelationshipRevenue/RelationshipRevenue.feature
  src/test/resources/features/reports/SubsidiaryAgedLedger/SubsidiaryAgedLedger.feature
  src/test/resources/features/reports/UnbilledPolicies/UnbilledPolicies.feature
  src/test/resources/features/reports/activeClients/ActiveClients.feature
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
  src/test/resources/features/reports/customerPolicyExtract/CustomerPolicyExtract.feature
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: spotless, scenarios, dry run

US107296_TC-303_Automation_MAR_Customer_Aged_Account_Receivable_Filters_option_functions_properly
  src/test/resources/features/reports/CustomerAgedAccount/CustomerAgedAccount.feature
Due: scenarios, dry run

US107293_TC277_Automation_Chart_of_Accounts_Filters_option_functions_properly
  src/test/resources/features/reports/ChartOfAccounts/ChartOfAccounts.feature
Due: scenarios, dry run

Refactor Exported File steps
  src/test/java/serenitybase/steps/stepdefinitions/ExportedFileStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ExportedFileTestSteps.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
  src/test/resources/features/reports/customerPolicyExtract/CustomerPolicyExtract.feature
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: spotless, scenarios, dry run

Quick fix TC-277
  src/test/resources/features/reports/ChartOfAccounts/ChartOfAccounts.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/BrokerNetBalance/BrokerNetBalance.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/DownloadDetail/DownloadDetail.feature
Due: scenarios, dry run

US107297_TC-308_Automation_Customer_Analysis_Filters_option_functions_properly
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
Due: scenarios, dry run

Update Password
  src/test/resources/serenity.conf
Due: none

Update Password
  src/test/java/serenitybase/helpers/ScreenRecorder.java
Due: spotless

Us107285 tc-266 automation mar balance sheet filters option functions properly
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/FinanceCompanyNetBalance/FinanceCompanyNetBalance.feature
Due: scenarios, dry run

US107314_TC-333_Automated_MAR_Lost_Business_Filters_option_functions_properly
  src/test/resources/features/reports/LostBusiness/LostBusiness.feature
Due: scenarios, dry run

Us107317 tc-342 automation policy expiration sort column option functions properly
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

Quick fix
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
Due: spotless

initial commit
  src/test/resources/features/reports/FinanceCompanyAgedAccountsReceivable/FinanceCompanyAgedAccountsRecievable.feature
Due: scenarios, dry run
