Repository viplove29/nba_viva_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spotless, scenarios, dry run

spotless:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew spotlessJavaCheck
  - ./gradlew compileTestJava

scenarios:
  stage: project checks
  image: mcr.microsoft.com/powershell
  before_script:
  - apt-get update && apt-get install -y git
  - mkdir scripts
  - git clone "$SCRIPTS_REPO" "./scripts"
  script:
  - 'pwsh -C "
  
    Install-Module powershell-yaml -Force;
  
    Import-Module ./scripts/TestScenarios.psm1;
  
    Test-SyncTags;
  ...

dry run:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew test --tests TestSupport -Dcucumber.execution.dry-run=true
  cache:
    paths:
    - build/

TC561 US107068 - Verify Functionality of Active/Inactive/All BU Filters in Personnel Extract Report in MAR
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: scenarios, dry run

Add Email Report to Regression runs
  .gitlab-ci.yml
Due: none

TC562 US107068 verify functionality of active/inactive/all bu filters in general ledger report in mar
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
Due: scenarios, dry run

TC563 US107068 - Verify Functionality of Active/Inactive/All BU Filters in Subsidiary Aged Ledger Report in MAR
  src/test/resources/features/reports/SubsidiaryAgedLedger/SubsidiaryAgedLedger.feature
Due: scenarios, dry run

Quick fix
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/resources/serenity.conf
Due: spotless

TC564 US107069 - Data Validation Using New BU Active/Inactive Filters - Book of Business (MAR)
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/HomePageTestSteps.java
  src/test/resources/features/reports/BookOfBusiness/BookOfBusiness.feature
Due: spotless, scenarios, dry run

TC565 US107069 - Data Validation Using New BU Active/Inactive Filters - Customer Analysis (MAR)
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
Due: spotless, scenarios, dry run

TC567 US107069 - Data Validation Using New BU Active/Inactive Filters - Customer Policy Extract (MAR)
  src/test/resources/features/reports/customerPolicyExtract/CustomerPolicyExtract.feature
Due: scenarios, dry run

TC566 US107069 - Data Validation Using New BU Active/Inactive Filters - Production Analysis (MAR)
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
Due: scenarios, dry run

TC568 US107069 - Data Validation Using New BU Active/Inactive Filters - Active Client (MAR)
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

TC569 US107069 - Data Validation Using New BU Active/Inactive Filters - Personnel Extract (MAR)
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: scenarios, dry run

TC570 US107069 - Data Validation Using New BU Active/Inactive Filters - General Ledger (MAR)
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
Due: scenarios, dry run

Quick fix MDC Password
  src/test/resources/serenity.conf
Due: none

Quick fix TC-287
  src/test/java/serenitybase/pages/mar/AgencySelectionPage.java
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

TC571 US107069 - Data Validation Using New BU Active/Inactive Filters - Subsidiary Aged Ledger (MAR)
  src/test/resources/features/reports/SubsidiaryAgedLedger/SubsidiaryAgedLedger.feature
Due: scenarios, dry run

TC575 US106873 - Verify Functionality of BU Filters in Policy Expiration Report in MAR
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

Filter Downloaded Reports
  src/test/java/serenitybase/pages/reports/ExcelReport.java
Due: spotless

Quick fix TC-337
  src/test/resources/features/reports/NewBusiness/NewBusiness.feature
Due: scenarios, dry run

Quick fix TC-287
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
Due: spotless

TC576 US106873 - Data Validation Using New BU Filters for the Policy Expiration Report in MAR
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

TC580 US106873 - Verify Functionality of Company Filters in Policy Expiration Report in MAR
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/HomePageTestSteps.java
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: spotless, scenarios, dry run

TC577 US106873 - Verify Functionality of Active/Inactive/All BU Filters in Policy Expiration Report in MAR
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

TC578 US106873 - Data Validation Using New BU Active/Inactive Filters - Policy Expiration (MAR)
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

Add version check for MDC runs TC-575
  src/test/java/serenitybase/helpers/Configuration.java
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/steps/hooks/Hooks.java
  src/test/resources/features/reports/BookOfBusiness/BookOfBusiness.feature
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
  src/test/resources/features/reports/SubsidiaryAgedLedger/SubsidiaryAgedLedger.feature
  src/test/resources/features/reports/activeClients/ActiveClients.feature
  src/test/resources/features/reports/customerPolicyExtract/CustomerPolicyExtract.feature
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
  src/test/resources/serenity.conf
Due: spotless, scenarios, dry run

Version tags
  src/test/java/serenitybase/steps/hooks/Hooks.java
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: spotless, scenarios, dry run

Quick fix TC-368
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/X-Date/XDate.feature
Due: spotless, scenarios, dry run

Quick fix TC-343
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

Quick fix TC-296
  src/test/resources/features/reports/Cancellation/Cancellation.feature
Due: scenarios, dry run

TC581 US106873 - Data Validation Using New Company Filters for the Policy Expiration Report in MAR
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

Quick fix TC-297
  src/test/resources/features/reports/Cancellation/Cancellation.feature
Due: scenarios, dry run

TC573 US107107 - Verify Functionality of Personnel Filters in Policy Expiration Report in MAR
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

TC574 US107107 - Data Validation Using New Personnel Filters for the Policy Expiration Report in MAR
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

New pipeline that runs failed tests from earlier pipeline
  .gitlab-ci.yml
  README.md
  images/Readme_regression.JPG
  images/Readme_rerun1.JPG
  images/Readme_rerun2.JPG
Due: none

TC-312_Automation_Customer_Net_Balance_Admin_fix
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/resources/features/reports/CustomerNetBalance/CustomerNetBalance.feature
Due: spotless, scenarios, dry run

TC-378_automation_Download_Direct_Bill_sort_option
  src/test/resources/features/reports/DownloadDirectBill/DownloadDirectBill.feature
Due: scenarios, dry run

TC-373_automation_Download_Detail_sort_option
  src/test/resources/features/reports/DownloadDetail/DownloadDetail.feature
Due: scenarios, dry run

TC-308_Automation_Customer_Analysis
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
Due: spotless, scenarios, dry run

TC-363_automation_Unbilled_Policies_sort_fix
  src/test/resources/features/reports/UnbilledPolicies/UnbilledPolicies.feature
Due: scenarios, dry run

TC-284_Production_analysis_sort
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
Due: scenarios, dry run

TC-337_New_Business_sort_fix
  src/test/resources/features/reports/NewBusiness/NewBusiness.feature
Due: scenarios, dry run

Path conditions:
  spotless: any of: **/*.java
  scenarios: any of: **/*.feature
  dry run: any of: **/*StepDefinitions.java, **/*.feature
