Repository viplove29/nba_viva_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spotless, scenarios, dry run

spotless:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew spotlessJavaCheck
  - ./gradlew compileTestJava

scenarios:
  stage: project checks
  image: mcr.microsoft.com/powershell
  before_script:
  - apt-get update && apt-get install -y git
  - mkdir scripts
  - git clone "$SCRIPTS_REPO" "./scripts"
  script:
  - 'pwsh -C "
  
    Install-Module powershell-yaml -Force;
  
    Import-Module ./scripts/TestScenarios.psm1;
  
    Test-SyncTags;
  ...

dry run:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew test --tests TestSupport -Dcucumber.execution.dry-run=true
  cache:
    paths:
    - build/

US107329_TC-368_Automation_X-Date_Sort_column_option_functions_properly
  src/test/resources/features/reports/X-Date/XDate.feature
Due: scenarios, dry run

US107330_TC-369_automation_X-Date_Filters_option_functions_properly
  src/test/resources/features/reports/X-Date/XDate.feature
Due: scenarios, dry run

US107300_TC-313_Automation_Customer_Net_Balance_Filters_option_functions_properly
  src/test/resources/features/reports/CustomerNetBalance/CustomerNetBalance.feature
Due: scenarios, dry run

Us107304 tc 378 automation download direct bill statement sort column option functions properly
  src/test/resources/features/reports/CustomerNetBalance/CustomerNetBalance.feature
  src/test/resources/features/reports/DownloadDirectBill/DownloadDirectBill.feature
Due: scenarios, dry run

US107287_TC-272_Broker_Aged_Accounts_Receivable_Sort_column_option_functions_properly
  src/test/resources/features/reports/BrokerAgedAccountsReceivable/BrokerAgedAccountsReceivable.feature
Due: scenarios, dry run

initial commit
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/ActiveClientsReportDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
Due: spotless, dry run

initial commit
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

initial commit
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/ActiveClientsReportStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/java/serenitybase/steps/stepdefinitions/ActiveClientsReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
Due: spotless, dry run

US107296_Automation_TC-303_Customer_Aged_Account_Receivable_Filters_option_functions_properly_then
  src/test/resources/features/reports/CustomerAgedAccount/CustomerAgedAccount.feature
Due: scenarios, dry run

US107297_Automation_TC-308_Customer_Analysis_Filters_option_functions_properly_then
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
Due: scenarios, dry run

initial commit
  src/test/java/serenitybase/steps/stepdefinitions/AddSummaryViewStepDefinitions.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
Due: spotless, dry run

initial commit
  src/test/resources/features/reports/BrokerAgedAccountsReceivable/BrokerAgedAccountsReceivable.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/BrokerNetBalance/BrokerNetBalance.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/Cancellation/Cancellation.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/CustomerAgedAccount/CustomerAgedAccount.feature
Due: scenarios, dry run

initial commit
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
Due: spotless, scenarios, dry run

initial commit
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
Due: spotless

initial commit
  src/test/resources/features/reports/CustomerNetBalance/CustomerNetBalance.feature
Due: scenarios, dry run

Revert "initial commit"
  src/test/resources/features/reports/CustomerNetBalance/CustomerNetBalance.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/downloadUnassignedAccountingTransactions/DownloadUnassignedAccountingTransactions.feature
Due: scenarios, dry run

US112591_TC-377_Automation_Download_Detail_Add_new_Summary_View_tab_in_the_report
  src/test/resources/features/reports/DownloadDetail/DownloadDetail.feature
Due: scenarios, dry run

US112594_TC-382_Automation_Download_Direct_Bill_Statement
  src/test/resources/features/reports/DownloadDirectBill/DownloadDirectBill.feature
Due: scenarios, dry run

US112596_TC-319_Automation_Download_Unassigned_Accounting_Transactions_Add_new_Summary_View_tab_in_the_report
  src/test/resources/features/reports/downloadUnassignedAccountingTransactions/DownloadUnassignedAccountingTransactions.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/FinanceCompanyNetBalance/FinanceCompanyNetBalance.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/LostBusiness/LostBusiness.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/NewBusiness/NewBusiness.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/RelationshipRevenue/RelationshipRevenue.feature
Due: scenarios, dry run

US112736_TC-346_Automation_Policy_Expiration_Add_new_Summary_View_tab_in_the_report
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

TC551 US106893 - Verify Functionality of BU Filters in Active Client Report in MAR
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/HomePageTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

Update .gitlab-ci.yml file, increase number of parallel runners
  .gitlab-ci.yml
Due: none

TC552 US106893 - data validation using new bu filters for the active client report in mar
  src/test/java/serenitybase/steps/stepdefinitions/ExportedFileStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/ExportedFileTestSteps.java
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: spotless, scenarios, dry run

US112779_TC-372_Automation_X-Date_Add_new_Summary_View_tab_in_the_report
  src/test/resources/features/reports/X-Date/XDate.feature
Due: scenarios, dry run

US112743_TC-356_Automation_Retention_Add_new_Summary_View_tab_in_the_report
  src/test/resources/features/reports/Retention/Retention.feature
Due: scenarios, dry run

Path conditions:
  spotless: any of: **/*.java
  scenarios: any of: **/*.feature
  dry run: any of: **/*StepDefinitions.java, **/*.feature
