Repository viplove29/nba_viva_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spotless, scenarios, dry run

spotless:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew spotlessJavaCheck
  - ./gradlew compileTestJava

scenarios:
  stage: project checks
  image: mcr.microsoft.com/powershell
  before_script:
  - apt-get update && apt-get install -y git
  - mkdir scripts
  - git clone "$SCRIPTS_REPO" "./scripts"
  script:
  - 'pwsh -C "
  
    Install-Module powershell-yaml -Force;
  
    Import-Module ./scripts/TestScenarios.psm1;
  
    Test-SyncTags;
  ...

dry run:
  stage: project checks
  image: openjdk:14-jdk-slim
  script:
  - ./gradlew test --tests TestSupport -Dcucumber.execution.dry-run=true
  cache:
    paths:
    - build/

TC-332_Lost_business_sort_fix
  src/test/resources/features/reports/LostBusiness/LostBusiness.feature
Due: scenarios, dry run

TC-287_automation_active_clients_sort
  src/test/resources/features/reports/activeClients/ActiveClients.feature
Due: scenarios, dry run

initial commit
  src/test/resources/features/reports/X-Date/XDate.feature
Due: scenarios, dry run

TC-317_Download_Unassigned_Accounting_Transactions
  src/test/resources/features/reports/downloadUnassignedAccountingTransactions/DownloadUnassignedAccountingTransactions.feature
Due: scenarios, dry run

TC-354_retention_sort_fix
  src/test/resources/features/reports/Retention/Retention.feature
Due: scenarios, dry run

TC-283_Automation_subsidiary_aged_ledger_sort_fix
  src/test/resources/features/reports/SubsidiaryAgedLedger/SubsidiaryAgedLedger.feature
Due: scenarios, dry run

TC-358_automation_transaction_sort_fix
  src/test/resources/features/reports/transaction/Transaction.feature
Due: scenarios, dry run

Automation smoke test tags
  src/test/resources/features/reports/BookOfBusiness/BookOfBusiness.feature
  src/test/resources/features/reports/BrokerAgedAccountsReceivable/BrokerAgedAccountsReceivable.feature
  src/test/resources/features/reports/BrokerNetBalance/BrokerNetBalance.feature
  src/test/resources/features/reports/Cancellation/Cancellation.feature
  src/test/resources/features/reports/ChartOfAccounts/ChartOfAccounts.feature
  src/test/resources/features/reports/CommissionPayableStatement/CommissionPayableStatement.feature
  src/test/resources/features/reports/CustomerAgedAccount/CustomerAgedAccount.feature
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
  src/test/resources/features/reports/CustomerNetBalance/CustomerNetBalance.feature
  src/test/resources/features/reports/DownloadDetail/DownloadDetail.feature
  src/test/resources/features/reports/DownloadDirectBill/DownloadDirectBill.feature
  src/test/resources/features/reports/DownloadSessionLog/DownloadSessionLog.feature
  src/test/resources/features/reports/FinanceCompanyAgedAccountsReceivable/FinanceCompanyAgedAccountsRecievable.feature
  src/test/resources/features/reports/FinanceCompanyNetBalance/FinanceCompanyNetBalance.feature
  src/test/resources/features/reports/LostBusiness/LostBusiness.feature
  src/test/resources/features/reports/NewBusiness/NewBusiness.feature
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
  src/test/resources/features/reports/RelationshipRevenue/RelationshipRevenue.feature
  src/test/resources/features/reports/Retention/Retention.feature
  src/test/resources/features/reports/SubsidiaryAgedLedger/SubsidiaryAgedLedger.feature
  src/test/resources/features/reports/UnbilledPolicies/UnbilledPolicies.feature
  src/test/resources/features/reports/X-Date/XDate.feature
  src/test/resources/features/reports/activeClients/ActiveClients.feature
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
  src/test/resources/features/reports/customerPolicyExtract/CustomerPolicyExtract.feature
  src/test/resources/features/reports/downloadUnassignedAccountingTransactions/DownloadUnassignedAccountingTransactions.feature
  src/test/resources/features/reports/generalLedger/GeneralLedger.feature
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
  src/test/resources/features/reports/transaction/Transaction.feature
Due: scenarios, dry run

Adding TC587_New Business Displaying correct data on export
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/pages/reports/CsvReport.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/NewBusiness/NewBusiness.feature
Due: spotless, scenarios, dry run

TC-265_automation_Balance_sheet_sort
  src/test/resources/features/reports/balanceSheet/BalanceSheet.feature
Due: scenarios, dry run

TC-291_Automation_Broker_net_balance
  src/test/resources/features/reports/BrokerNetBalance/BrokerNetBalance.feature
Due: scenarios, dry run

TC-272_Automation_Broker_aged_account_receivable
  src/test/resources/features/reports/BrokerAgedAccountsReceivable/BrokerAgedAccountsReceivable.feature
Due: scenarios, dry run

TC-296_Automation_Cancellation_sort_option
  src/test/resources/features/reports/Cancellation/Cancellation.feature
Due: scenarios, dry run

TC-276_Automation_Chart_of_Accounts_sort
  src/test/resources/features/reports/ChartOfAccounts/ChartOfAccounts.feature
Due: scenarios, dry run

TC-279_automation_Commission_payable_statement_sort
  src/test/resources/features/reports/CommissionPayableStatement/CommissionPayableStatement.feature
Due: scenarios, dry run

Update Password
  src/test/java/serenitybase/steps/hooks/Hooks.java
  src/test/resources/serenity.conf
Due: spotless

Update mdc password
  src/test/java/serenitybase/steps/hooks/Hooks.java
  src/test/resources/serenity.conf
Due: spotless

Tc545 er columns
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/transaction/Transaction.feature
Due: spotless, scenarios, dry run

Work around for Login Issues
  src/test/java/serenitybase/pages/mar/AgencySelectionPage.java
  src/test/java/serenitybase/steps/stepdefinitions/LoginToMarStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
Due: spotless, dry run

Adding TC590 TC591 for Book of Business report new columns
  src/test/resources/features/reports/BookOfBusiness/BookOfBusiness.feature
Due: scenarios, dry run

Quick Fix TC581
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

Quick Fix TC531 TC532
  src/test/resources/features/reports/personnelExtract/PersonnelExtract.feature
Due: scenarios, dry run

Quick Fix TC578
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: scenarios, dry run

Adding TC601 NotBillable policies in Unbilled Policies report
  src/test/java/serenitybase/pages/mar/MarHomePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/HomePageTestSteps.java
  src/test/resources/features/reports/UnbilledPolicies/UnbilledPolicies.feature
Due: spotless, scenarios, dry run

Quick Fix TC320
  src/test/resources/features/reports/FinanceCompanyNetBalance/FinanceCompanyNetBalance.feature
Due: scenarios, dry run

Hook for deleting extra templates
  src/test/java/serenitybase/steps/hooks/Hooks.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
Due: spotless, dry run

Quick fix TC295
  src/test/resources/features/reports/BrokerNetBalance/BrokerNetBalance.feature
Due: scenarios, dry run

Fix Cleanup Hook
  src/test/java/serenitybase/helpers/Utilities.java
  src/test/java/serenitybase/steps/hooks/Hooks.java
Due: spotless

Quick fix TC284
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
Due: scenarios, dry run

Update Password
  src/test/java/serenitybase/pages/reports/ExcelReport.java
  src/test/resources/serenity.conf
Due: spotless

Update Password
  .gitlab-ci.yml
  src/test/resources/serenity.conf
Due: none

Update MDC version
  src/test/resources/serenity.conf
Due: none

Update agency in mdc
  src/test/resources/serenity.conf
Due: none

New VSSO login workflow TC-284
  src/test/java/serenitybase/pages/mar/AgencySelectionPage.java
  src/test/java/serenitybase/pages/vsso/LoginPage.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
Due: spotless

Adding TC594 TC598 and TC589 Policy Locations Tests
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/SharedReportStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/SharedReportTestSteps.java
  src/test/resources/features/reports/PolicyLocations/PolicyLocations.feature
Due: spotless, scenarios, dry run

Update qa password
  src/test/resources/serenity.conf
Due: none

Update MDC password
  src/test/resources/serenity.conf
Due: none

Quick fix TC578 TC581
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
Due: spotless, scenarios, dry run

Quick fix TC565 TC566
  src/test/java/serenitybase/pages/mar/ReportBasePage.java
  src/test/java/serenitybase/steps/stepdefinitions/HomePageStepDefinitions.java
  src/test/java/serenitybase/steps/teststeps/LoginToMarTestSteps.java
  src/test/resources/features/reports/CustomerAnalysis/CustomerAnalysis.feature
  src/test/resources/features/reports/PolicyExpiration/PolicyExpiration.feature
  src/test/resources/features/reports/ProductionAnalysis/ProductionAnalysis.feature
Due: spotless, scenarios, dry run

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  src/test/java/serenitybase/pages/reports/ExcelReport.java
Due: spotless

Path conditions:
  spotless: any of: **/*.java
  scenarios: any of: **/*.feature
  dry run: any of: **/*StepDefinitions.java, **/*.feature
